<div class="form-container container-fluid">
    <div class="edit-boder">
        <h4>My Profile</h4>
        <h5>Manage profile information to secure your account</h5>
    </div>
    <div class="control-form-myaccount">
        <form action="@Url.Action("My_Account","Home")" method="post">
            @Html.AntiForgeryToken()

            <!-- Họ Và Tên của Users -->
            <label for="fullname">Full Name:</label>
            <input type="text" id="fullname" value="@Session["FullName"]" readonly>

            <!-- Tên đăng nhập -->
            <label for="username">Username:</label>
            <input type="text" id="username" name="Username" value="@Session["Username"]">
            <!-- Email -->
            <label for="email">Email:</label>
            <input type="email" id="email" name="Email" value="@Session["Email"]">
            <!-- Số điện thoại -->
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="Phone" value="@Session["Phone"]">
            <!-- Giới tính -->
            <div class="gender-selection">
                <label for="sex">Sex:</label>
                <div class="gender-option-edit">
                    <input type="radio" id="male" name="Sex" value="Male" @(Session["Sex"] != null && Session["Sex"].ToString() == "Male" ? "checked" : "") required>
                    <label for="male">Male</label>
                </div>
                <div class="gender-option-edit">
                    <input type="radio" id="female" name="Sex" value="Female" @(Session["Sex"] != null && Session["Sex"].ToString() == "Female" ? "checked" : "") required>
                    <label for="female">Female</label>
                </div>
            </div>
            <div class="update-notification">
                @ViewBag.Message
            </div>
            <button type="submit" class="savechanges-button">Save Changes</button>
        </form>
    </div>
</div>